html, body{
    font-size: 10px;
    background-color: azure;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
}
title{
    text-align: center;
}
button{
    box-shadow: 8px 8px 8px rgb(111, 101, 101);
    font-size: 7px;
}
h1{
    text-align: center;
    font-size: 8px;
}
/*considering deleting this whole css file if not enough time*/